.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 150px;
  /* position: fixed;
  top: 0;
  right: 0;
  left: 0; */
}
.logo {
  /* max-width: 15vw; */
  height: auto;
}
.list {
  display: flex;
  gap: 41px;
  align-items: center;
  list-style-type: none;
}
.link {
    text-decoration: none;
    padding: 11px 0;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #18181B;
}